#
# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log

############   compiler   ############
# haxe
src-js/haxe/

# Babel
babel-js/

############   pack   ############
# webpack
build/
buildReact/

